body{
    background-color: whitesmoke;
}

/* #murgi{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 900;
    text-align: center;
}
.friend{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: larger;
} */

.bun{
    border: 10px solid green;
    margin: 2px;
    text-align: center;

}